.color ul {
  list-style: none;
  width: 500px;
  margin: 50px auto;
}

.color ul li {
  display: inline-block;
  width: 120px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
}

.color ul a {
  text-decoration: none;
  color: rgb(00, 00, 00);
}

.result {
  width: 400px;
  height: 400px;
  margin: 30px auto;
  border-radius: 40px;
}
